.features__item {

  &--text {
    padding-right: 10px;
    text-align: center;
    line-height: 0.8;

    span {
      border-bottom: 1px dotted #2773b9;
      font-size: 9px;
      color: #2773b9;
    }
  }
}

.features__graph {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border: 2px solid $accent-color;
  border-radius: 50%;

  &--class {
    flex-direction: column;
    justify-content: flex-start;

    font-size: 24px;
    color: #FFFFFF;

    background-color: $accent-color
  }
}

.features__class {
  display: block;
  font-size: 8px;
  font-weight: 300;
}
