.form-search__wrapper {
  position: relative;
  margin: 0;
  padding: 0;

  &::before {
    content: '';

    position: absolute;
    top: 8px;
    left: 0;

    width: 20px;
    height: 20px;

    background-image: url('../img/icon-search.svg');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 18px auto;
    z-index: 100;
  }
}

.form-search__input {
  width: 90px;
  height: 34px;
  padding-left: 25px;
  border: none;
}

::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  color:#2B2B2B;
  text-transform: uppercase;
}

::-moz-placeholder {
  font-size: 14px;
  line-height: 16px;
  color:#2B2B2B;
  text-transform: uppercase;
}

:-moz-placeholder {
  font-size: 14px;
  line-height: 16px;
  color:#2B2B2B;
  text-transform: uppercase;
}

:-ms-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  color:#2B2B2B;
  text-transform: uppercase;
}

:focus::-webkit-input-placeholder {
  color: transparent
}
:focus::-moz-placeholder {
  color: transparent
}
:focus:-moz-placeholder {
  color: transparent
}
:focus:-ms-input-placeholder {
  color: transparent
}
