.main-nav {
  margin-right: 113px;
}

.main-nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 270px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__link {
  position: relative;

  font-family: 'Roboto', 'Tahoma', sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 300;

  opacity: 0.8;

  &--services {
    &::after {
      content: '';

      position: absolute;
      top: 6px;
      right: -13px;

      width: 8px;
      height: 4px;

      background-image: url('../img/icon-arrow-down.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &:hover {
    padding-bottom: 16px;
    border-bottom: 5px solid $accent-color;
    opacity: 1;
  }

  &:active {
    color: darken(#FFFFFF, 20%);
  }
}
